<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rest-Rate</title>
    <link href="~/Content/Customer/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Menu/sky-mega-menu.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/ProjScripts/work_with_map.js"></script>
    <script src="~/Scripts/ProjScripts/work_with_panel.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6qMb55_T65pEOrrZ2duf5JMR_KWQtyMY&libraries=places">
    </script>
</head>
<body>
    <!-- #region test-->
    <div class="mainpanel">
        <div class="panelheader">
            <img src="/Content/Images/Customer/star.png" />
            <span>Rest-Rate</span>
        </div>

        <div class="panelItems ">

        </div>

    </div>
   
    <button id="draggableButton">
        Draggable
    </button>
    <div id="map"></div>
    <footer>&copy; @DateTime.Now.Year - Alpha Team</footer>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>