<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rest-Rate</title>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/star-rating.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/star-rating.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/photoswipe.css" />
    <link rel="stylesheet" href="~/Content/default-skin/default-skin.css" />

    <link href="~/Content/Customer/main.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/ProjScripts/work_with_map.js"></script>
    <script src="~/Scripts/ProjScripts/work_with_panel.js"></script>
    <script src="~/Scripts/ProjScripts/work_with_starsRating.js"></script>
    <script src="~/Scripts/ProjScripts/Work_with_gallery.js"></script>


    <script src="~/Scripts/ProjScripts/photoswipe.min.js"></script>
    <script src="~/Scripts/ProjScripts/photoswipe-ui-default.min.js"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" href="~/Content/Customer/jquery.mCustomScrollbar.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6qMb55_T65pEOrrZ2duf5JMR_KWQtyMY&libraries=places">

    </script>
    
</head>
<body>
    <div class=" mainpanel ">
        @* /TODO resolve Overlay BUG *@
        @*<div class="container">*@
        @*<div class=" col-md-4 col-xs-3 ">*@
        <div class="panelheader ">
            <img src="~/Content/Images/Customer/star.png" />
            <span>Rest-Rate</span>
            <div class="dropdown settingsPanel">
                <button type="button" class="  dropdown-toggle  settingsButt" data-toggle="dropdown">
                    <img id="cogwheel" src="~/Content/Images/Customer/Cogwheel.png" />
                </button>
                <ul class="dropdown-menu">
                    @*<li><a href="#">~this is STUB~</a></li>*@
                    @*<li><a id="orderByRating" href="#">Order By Rating</a></li>*@
                    @*<li><a id="getFullList" href="#">Full List</a></li>*@
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Search only for nearby restaurants
                            </div>

                            <div class="col-md-2">
                                <input id="radiusSearch" type="checkbox" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class=" content">
                <div id="content-1" class="panelItems"></div>
            </div>
        </div>

        @*</div>*@
        @*</div>*@
    </div>

    <div class=" container">
        <div class="reviewInfo col-md-6 col-xs-3 col-xs-offset-2">
            <div id="review">
                <div id="reviewHeader">
                    Rates
                    <button type="button" onclick="slideDownReview()">X</button>
                </div>
                <div class="content1">
                    <div id="reviewRating">


                        <div class="Row">
                            <div class="Column">
                                <img src="~/Content/Images/Customer/food.svg" />
                                <input id="input-id1">
                                @*<input class="rating" value="0" type="number" min="0" max="5" data-symbol="*" data-size="xs">*@
                            </div>
                            <div class="Column">
                                <img src="~/Content/Images/Customer/interior.svg" />
                                <input id="input-id2">
                            </div>
                            <div class="Column">
                                <img src="~/Content/Images/Customer/service.svg" />
                                <input id="input-id3">
                            </div>
                        </div>


                    </div>

                    <div id="reviewBody">
                        <div>Resume</div>
                        @*<p id ="reviewName">
                              LoremFood
                            </p>*@
                        <p id="reviewContext">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                            reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                            reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                        </p>
                      
                       <p >Visited on November 7th</p>
                    </div>

                    <div id="reviewShare">
                        @*<div>Share</div>*@
                        <div class="Row">

                            <div class="Column">
                                <div id="shareContent"></div>
                            </div>
                            <div class="Column">
                                @*TODO bind facebook share status - RAW*@
                                <a name="fb_share" type="button"
                                   href="http://www.facebook.com/sharer.php?u={$url}&media={$imgPath}&description={$desc}" class="joinFB">
                                    <img src="~/Content/Images/Customer/facebook.png" alt="Facebook"/>
                                </a>
                                @*<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                                        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                                    </a>*@
                            </div>
                            <div class="Column" id="commentBtn"><button>Leave a comment</button>
                            </div>
                        </div>


                    </div>
                    <div id="reviewComments">
                        <div>Comments</div>
                        <div id="vk_comments"></div>

                    </div>
                    @* TODO Gallery fulfillment *@
                    <div id="reviewGallery">
                        <div>Gallery</div>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        </div>


                    </div>
                   


                </div>
            </div>
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
    <button id="draggableButton" class="btn active">SET POSITION</button>


    <div id="map"></div>
    <footer>&copy; @DateTime.Now.Year - Alpha Team</footer>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>