
@{
    ViewBag.Title = "Rest-Rate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rest-Rate Admin Page</title>
    <link rel="icon" type="image/ico" href="~/Content/Images/Admin/favicon.ico" />
    <meta name="author" content="Yuriy Chikhray">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/star-rating.min.js"></script>
    <script src="~/Scripts/fileinput.js" type="text/javascript"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-dialog.min.css" rel="stylesheet">
    <link href="~/Content/star-rating.css" rel="stylesheet">
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">

    <link href="~/Content/Login/style.css" rel="stylesheet">
</head>
<body>
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Adding new restaurant</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="row form-group">
                                <label class="col-md-3">
                                    Restaurant Name:
                                </label>
                                <div class="col-md-9">
                                    <input class="form-control" placeholder="Restaurant name" id="formRestName" maxlength="50" type="text" />
                                </div>
                            </div>
                            <div class="row form-group" id="addressRestaurant">
                                <label class="control-label col-md-3">
                                    Restaurant Address:
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <img style="width:16px;height:16px" src="~/Content/Images/Admin/map-512px.svg" onclick="openMap()">
                                        </span>
                                        <input class="form-control" placeholder="Restaurant address" id="formRestAddr" maxlength="80" type="text" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-success btn-add" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                            <center><h4><i> Rates </i></h4></center>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        <center>
                                            <label class="col-md-4 col-md-offset-1" style="padding-top:12px">Kitchen:</label>
                                            <div class="col-md-2">
                                                <input class="rating" id="formKitchenRate" value="0" type="number" min=0 max=5 step=0.5 data-size="xs" data-show-clear="false" data-show-caption="false">
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        <center>
                                            <label class="col-md-4 col-md-offset-1" style="padding-top:12px">Service:</label>
                                            <div class="col-md-1">
                                                <input class="rating" id="formServiceRate" value="0" type="number" min=0 max=5 step=0.5 data-size="xs" data-show-clear="false" data-show-caption="false">
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        <center>
                                            <label class="col-md-4 col-md-offset-1" style="padding-top:12px">Interior:</label>
                                            <div class="col-md-1">
                                                <input class="rating" id="formInteriorRate" value="0" type="number" min=0 max=5 step=0.5 data-size="xs" data-show-clear="false" data-show-caption="false">
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                            <center><h4><i> Review </i></h4></center>
                            <textarea class="form-control" id="formReview" maxlength="500" style="resize:none" rows="5" placeholder="Review"></textarea>
                            <span class="help-block" style="text-align: right"></span>

                            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
                            <center><h4><i> Gallery </i></h4></center>
                            <div class="col-md-10 col-md-offset-1">
                                <form enctype="multipart/form-data"  action="/Admin/Index" method="POST" id="imagesUpload">
                                    <div class="form-group">
                                        <input id="photosInput" type="file" multiple="multiple" class="file-loading" accept="image/*" name="files">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addRestaurant"> Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="changePasswordForm" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Change password</h4>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Old password:
                                </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="formOldPassword" placeholder="Password" name="password" maxlength="50" type="password" />
                                </div>
                            </div>
                            <br />

                            <hr style="width: 100%; color: black; height: 1px; background-color:black" />
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    New password:
                                </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="formNewPassword" placeholder="Password" name="password" maxlength="50" type="password" />
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Repeat new password:
                                </label>
                                <div class="col-md-9">
                                    <input class="form-control" id="formNewPasswordConfirm" placeholder="Confirm Password" name="passwordConfirm" maxlength="50" type="password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
                    <button type="button" class="btn btn-primary" id="changePassword"> Change</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand hidden-xs" href="#">Restaurant Rating Update</a>
                        <a class="navbar-brand visible-xs" href="#">RRU</a>
                    </div>

                    <div id="navbar" class="nav pull-right">
                        <ul class="nav pull-left">
                            <li class="dropdown notifications-menu pull-left">
                                <a href="/Admin/Users">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">Num</span>
                                </a>
                            </li>

                            <li class="dropdown user-menu pull-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Content/Images/Admin/avatar.png" class="user-image" alt="User Image">
                                    <span class="hidden-xs"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="#" onClick="changePassword()">Change password</a> </li>
                                    <li> <a href="@Url.Action("Logout", "Admin")">Logout</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="container">
        <div class="row vertical-offset">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <br><br />
                    <div class="row">
                        <div class="col-xs-10 col-md-4 col-xs-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Choose a restaurant to edit:
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <!--select id="combobox" style="display: none;">
                                        <option value="">Select one...</option>
                                        <option value="ActionScript">ActionScript</option>
                                        <option value="AppleScript">AppleScript</option>
                                        <option value="Asp">Asp</option>
                                        <option value="BASIC">BASIC</option>
                                        <option value="C">C</option>
                                        <option value="C++">C++</option>
                                        <option value="Clojure">Clojure</option>
                                        <option value="COBOL">COBOL</option>
                                        <option value="ColdFusion">ColdFusion</option>
                                        <option value="Erlang">Erlang</option>
                                        <option value="Fortran">Fortran</option>
                                        <option value="Groovy">Groovy</option>
                                        <option value="Haskell">Haskell</option>
                                        <option value="Java">Java</option>
                                        <option value="JavaScript">JavaScript</option>
                                        <option value="Lisp">Lisp</option>
                                        <option value="Perl">Perl</option>
                                        <option value="PHP">PHP</option>
                                        <option value="Python">Python</option>
                                        <option value="Ruby">Ruby</option>
                                        <option value="Scala">Scala</option>
                                        <option value="Scheme">Scheme</option>
                                    </!--select-->
                                    <div class="custom-combobox">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="scrollable-dropdown-menu">
                                                    <input class="typeahead" id="editRestName" type="text" placeholder="Enter restaurant name" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Add a new restaurant:
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <input class="form-control" placeholder="Restaurant name" name="restName" id="restName" maxlength="50" type="text">
                                    <br>
                                    <button class="btn btn-md btn-primary btn-block" id="add"> Add »</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script src="~/Scripts/ProjScripts/admin-panel.js"></script>
        <script src="~/Scripts/ProjScripts/shareFunctions.js"></script>
    </footer>
</body>
</html>